{% extends 'base.html' %}
{% block title %}
CSE
{% endblock title %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center text-bg-info">
                    <h4 class="text-white">Add Items</h4>
                </div>
                <div class="card-body">
                    {% with message=get_flashed_messages(with_categories=true) %}
                        {% if message %}
                            {% for category, message in message %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form action="/ise" method="POST">
                        <div class="mb-3">
                            <label for="dept" class="form-label">Department</label>
                            <select class="form-select" id="dept" name="dept" required>
                                <option selected disabled value="">CSE</option>
                                <option>CSE</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="rno" class="form-label">Room Number</label>
                            <select class="form-select" id="rno" name="rno" required>
                                <option selected disabled value="">Available rooms are</option>
                                <option>270</option>
                                <option>271</option>
                                <option>273</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="item" class="form-label">Items</label>
                            <select class="form-select" id="item" name="item" required>
                                <option selected disabled value="">Choose...</option>
                                <option>Wardrobe</option>
                                <option>Table</option>
                                <option>Fan</option>
                                <option>PC</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-info btn-sm btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
