{% extends 'base.html' %}
{% block title %}
LOGIN
{% endblock title %}

{% block body %}
<div class="container mt-5">

    <div class="row justify-content-center">
    
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-header bg-success text-white text-center">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                
                    {% with message=get_flashed_messages(with_categories=true) %}
                    {% if message %}
                    {% for category, message in message %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>

                        <!-- Add margin-top to move the button down -->
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-success btn-sm btn-block">Login</button>
                        </div>
                    </form>

                </div>
                <div class="card-footer text-center">
                    Not a user? <a href="/signin">Sign up</a>
                </div>
            </div>
        </div>
    
    </div>
</div>

{% endblock body %}
