{% extends 'base.html' %}

{% block title %}
OUT
{% endblock title %}

{% block body %}

<div class="container mt-4">

    <div class="row d-flex align-items-center"> 
        <div class="col-md-8"> 
            <form action="/movement1" method="POST">   
                <button type="submit" class="btn btn-dark btn-lg">Click here to see movement list</button>
            </form>
        </div>
        <div class="col-md-4 text-right"> 
            <form action="/out" method="POST"> 
                <div style="margin-top: -5px;"> 
                    <div style="display: flex; align-items-center;"> 
                        <div style="flex-grow: 1;"></div> 
                        <select class="form-select" id="rno" name="rno" required style="width: auto;"> 
                            <option selected disabled value="">Select the room number</option>
                            {% for post in query[0] %}
                            <option>{{post.rno}}</option>
                            {% endfor %}
                        </select>&nbsp;&nbsp;&nbsp; 
                        <button type="submit" class="btn btn-dark btn-lg">Submit</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% with message=get_flashed_messages(with_categories=true) %}
    {% if message %}
    {% for category,message in message %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ITEM_ID</th>
            <th scope="col">ITEM_NAME</th>
            <th scope="col">ROOM_NUMBER</th>
            <th scope="col">DEPARTMENT</th>
            
        </tr>
        </thead>
        <tbody>
            {% for post in query[1] %}
            <tr>
                <td>{{post.item_id}}</td>
                <td>{{post.item_name}}</td>
                <td>{{post.rno}}</td>
                <td>{{post.dname}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock body %}